{% extends "base.twig" %}

{% set pagetitle = 'Location' %}

{% block content %}
    <header class="image-bg-fluid-height team-header team-bg">
        <div class="intro-heading"> LOCATION</div>
        <div class="intro-lead-in"> - To be released soon - </div>
    </header>

{% endblock content %}