{% extends "base.twig" %}

{% set pagetitle = 'Team' %}

{% block content %}
    <header class="container-fluid image-bg-fluid-height team-header">
        <div class="intro-heading"> TEAM</div>
        <div class="intro-lead-in"> The ones behind the magic</div>
    </header>

    <div class="container-fluid padding-style team-bg">

        <div class="container text-center">
            <p class="lead section-lead-team">
                How it all got started...
            </p>
            <p class="section-paragraph-team text-justify">
                This conference got started by a few people simply meeting up, talking, exchanging their ideas and getting organized.
                None of us is in the event organizing profession, we are all just normal people like you guys, who decided to
                create this event for you. We are not getting paid, credit points or any sort of reward for doing this.
                Some of us are students, some of sure employees, some us are both, but we all share a common passion for learning, teaching and building technology.
                We believe in sharing knowledge regardless of financial status or gender and we worked very hard to
                build this conference from zero.
            </p>
            <hr>
        </div>
        <!-- MELANIE -->
        <div class="row">
            <div class="col-sm-5">
                <img class="teamImg img-responsive" src="img/team/melanie.png">
            </div>
            <div class="col-sm-6">
                <p class="lead section-lead-team">
                    Melanie Balaz
                </p>
                <p class="section-paragraph-team">
                    I like to call myself geek in progress - as I just started studying and falling in love with IT about two years ago.
                    I came up with the idea of organizing a free IT conference a while back, and through a lot of positive feedback I just decided
                    to go ahead and do it. I think that IT should be a field where people help and educate eachother, and a lot more people
                    would enjoy it if we were all to do so. Apart from organizing stuff I also enjoy writing clean code, designing, running around
                    with a camera and most of all, learning new things.
                </p>
                <p class="social-media-icons team-icons">
                    <a href="">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>

        <!-- JANOS -->
        <div class="row">
            <div class="col-sm-5">
                <img class="teamImg img-responsive" src="img/team/ruben.png">
            </div>
            <div class="col-sm-6">
                <p class="lead section-lead-team">
                    Ruben Scheuring
                </p>
                <p class="section-paragraph-team">
                    I am a natural scientist and especially interested in the application
                    of additive manufacturing in the field of tissue engineering.
                    My inexhaustible inquisitiveness and missing academic background
                    in the field of programming and electrical engineering drive
                    me to help to create the best possible conference for IT and
                    technology enthusiasts as well as beginners like me.
                </p>
                <p class="social-media-icons team-icons">
                    <a href="https://www.linkedin.com/in/ruben-gerrit-scheuring-4170a7126">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/blauer.ampholyt">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}