{% extends "base.twig" %}

{% set pagetitle = 'Team' %}

{% block content %}
    <header class="container-fluid image-bg-fluid-height team-header team-bg">
        <div class="intro-heading"> TEAM</div>
        <div class="intro-lead-in"> The ones behind the magic</div>
    </header>

    <div class="container-fluid padding-style team-bg">

        <div class="container text-center">
            <p class="lead section-lead-team">
                How it all got started...
            </p>
            <p class="section-paragraph-team text-justify">
                This conference got started by a few people simply meeting up, talking, exchanging their ideas and getting organized.
                None of us is in the event organizing profession, we are all just normal people like you guys, who decided to
                create this event for you. We are not getting paid, credit points or any sort of reward for doing this.
                Some of us are students, some of sure employees, but we all share a common passion for learning, teaching and building technology.
                We believe in sharing knowledge regardless of financial status or gender and we worked very hard to
                build this conference from zero. If you want to learn more about why we organized IntoTech, click <a href="/why"> here. </a>
            </p>
        </div>
        <!-- MELANIE -->
        <div class="row">
            <div class="col-sm-5">
                <img class="teamImg img-responsive" src="img/team01.png">
            </div>
            <div class="col-sm-6 team-info">
                <p class="lead section-lead-team">
                    Melanie Balaz
                </p>
                <p class="section-paragraph-team">
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                </p>
                <p class="social-media-icons team-icons">
                    <a href="">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>

        <!-- JANOS -->
        <div class="row">
            <div class="col-sm-5">
                <img class="teamImg img-responsive" src="img/team01.png">
            </div>
            <div class="col-sm-6 team-info">
                <p class="lead section-lead-team">
                    Janos Pasztor
                </p>
                <p class="section-paragraph-team">
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                </p>
                <p class="social-media-icons team-icons">
                    <a href="">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}