{% extends "base.twig" %}

{% set pagetitle = 'Team' %}

{% block content %}
    <header class="container-fluid image-bg-fluid-height team-header team-bg">
        <div class="intro-heading"> TEAM</div>
        <div class="intro-lead-in"> The ones behind the magic</div>
    </header>

    <div class="container-fluid padding-style team-bg">

        <!-- MELANIE -->
        <div class="row">
            <div class="col-sm-5">
                <img class="teamImg img-responsive" src="img/team01.png">
            </div>
            <div class="col-sm-5 team-info">
                <p class="lead section-lead-team">
                    Melanie Balaz
                </p>
                <p class="section-paragraph-team">
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                </p>
                <p class="team-icons">
                    <a href="">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>

        <!-- JANOS -->
        <div class="row">
            <div class="col-sm-5">
                <img class="teamImg img-responsive" src="img/team01.png">
            </div>
            <div class="col-sm-6 team-info">
                <p class="lead section-lead-team">
                    Janos Pasztor
                </p>
                <p class="section-paragraph-team">
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                    Melanie is a student. from austria. this is just filler-text. more filler-text
                </p>
                <p class="team-icons">
                    <a href="">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}