{% extends "base.twig" %}

{% set pagetitle = 'Team' %}

{% block content %}
    <header class="container-fluid image-bg-fluid-height team-header team-bg">
        <div class="intro-heading"> TEAM</div>
        <div class="intro-lead-in"> The ones behind the magic</div>
    </header>

    <div class="container-fluid team-bg">
        <div class="container padding-style">
            <div class="row">
                <div class="col-sm-5">
                    <img class="teamImg img-responsive" src="img/team01.png">
                </div>
                <div class="col-sm-7 team-info">
                    <p class="lead section-lead-team">
                        Melanie Balaz
                    </p>
                    <p class="section-paragraph">
                        Melanie is a student. from austria. this is just filler-text. more filler-text
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}