{% extends "base.twig" %}

{% set pagetitle = 'Workshops' %}

{% block content %}
    <header class="image-bg-fluid-height team-bg">
        <div class="intro-heading"> Side Program</div>
        <div class="intro-lead-in"> What else to expect at the MARF</div>
        <div class="intro-subtext"> - Will be released soon - </div>
    </header>

    <div class="container-fluid team-bg">
        <div class="container padding-style">
            <div class="row">
                <div class="col-sm-3">
                    <img class="speakerImg img-responsive" src="img/avatar.png">
                </div>
                <div class="col-sm-9">
                    <p class="lead section-lead">
                        Melanie Balaz
                    </p>
                    <p class="section-paragraph">
                        Melanie is a student. from austria. this is just filler-text. more filler-text
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}