{% extends "base.twig" %}

{% set pagetitle = 'Workshops' %}

{% block content %}
    <header class="container-fluid image-bg-fluid-height workshop-bg">
        <div class="intro-heading"> Workshops & CO</div>
        <div class="intro-lead-in"> What else to expect at IntoTech</div>
        <div class="intro-subtext"> - To be released soon - </div>
    </header>

{% endblock content %}